.main
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3vmin;
}
.icon
{
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent;  */
    font-size: 6vmin;
    float: right;
    margin: 0px 1.5vmin;
}

