.nav
{
    background-color: var(--primary-color);
    position: fixed;
    top: 0px;
    width: 98%;
    height: 7vh;
    padding: 2vmin;
    border-radius: 0px 0px 15px 15px;
}
.nav > ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.nav > ul
{
    color: var(--bg-color);
}
.themebtn
{
    border-radius: 9000px;
    border: 5px solid var(--bg-color);
    padding: 5px;
}
.spacer
{
    height: 7vh;
}