.li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.link
{
    background-color: var(--secondary-color);
    height: 2px;
    border-radius: 900000px;
}
.linkn
{
    opacity: 0%;
    width: 0%;    
}
.linkh
{
    width: 100%;
    opacity: 100%;
}