*
{
    transition: all 1s ease-in-out !important;
    transition-delay: 0ms !important;
    margin: 0px;
    padding: 0px;
}
html, body, input
{
    font-family: 'The Naturel Txt', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
a
{
    color: inherit;
    text-decoration: none;
}
h1
{
    font-family: 'Lobster Two', cursive;
}
h2
{
    font-family: 'The Naturel Txt', sans-serif;
}
h3
{
    font-family: 'Fredoka One', cursive;
}
h4
{
    font-family: 'The Naturel Txt', sans-serif;
}
h5
{
    font-family: 'Fredoka One', cursive;
}
h6
{
    font-family: 'Fredoka One', cursive;
}
i
{
    font-size: 4vmin;
}
